<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:500,300,400&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="/css/styles.css" />
      <script src="/javascript/es6-promise.js" defer="defer"></script>
      <script src="/javascript/fetch.js" defer="defer"></script>
      <script src="/javascript/main.js" defer="defer"></script>
  </head>
  <body>
    <div class="container">
        <img src="/images/crowdfunding_image.jpg" width="498" height="280" alt="" />
        <p class="main-text">We are raising £3000 to build an adventure playground in Hackney Wick because the kids have nowhere to play</p>
        <div class="meter">
            <div class="bar"></div>
        </div>
        <p class="meter-info meter-info-left"><span class="big">£2,100.00</span> pledged of <strong>£3,000</strong> funding target</p>
        <p class="meter-info meter-info-right"><strong class="big">71%</strong> funded</p>
        <div class="clearfix"></div>
        <div class="pledge-container">
            <label for="pledge-input" class="sr-only">Pledge amount</label>
            <input type="text" placeholder="£20" class="pledge-input" id="pledge-input" /> <button type="button" id="pledge-button" class="btn btn-pledge">Pledge</button>
        </div>
        <div class="project-owner-container">
            <div class="project-owner-wrapper">
                <img src="/images/avatar.jpg" height="50" width="50" alt="" class="avatar" />
                <p class="owner-name"><span class="text-light owner-title">Project owner</span>Holly Groom</p>
            </div>
        </div>
        <div class="footer">
            <p class="footer-text">Create your own crowdfunding project and make a difference in your community</p>
            <a class="btn btn-started" href="https://home.justgiving.com" target="_blank">Get started</a>
            <p class="text-light">Powered by</p>
            <img src="/images/justgiving_logo.svg" alt="JustGiving™" width="210" />
        </div>
    </div>
  </body>
</html>