<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:500,300,400&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="/css/styles.css" />
      <script src="/javascript/es6-promise.js" defer="defer"></script>
      <script src="/javascript/fetch.js" defer="defer"></script>
      <script src="/javascript/intl.js" defer="defer"></script>
      <script src="/javascript/intl-en-GB.js" defer="defer"></script>
      <script src="/javascript/main.js" defer="defer"></script>
  </head>
  <body>
    <div id="pledge-placeholder"></div>
  </body>
</html>