@import 'normalize';

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$primary-color: #C300B5;
$secondary-color: #FF7A00;
$gray-light: #EAEAEA;
$gray-dark: #A1A6A7;
$msg-background: #FBF4FB;

.clearfix {
  @include clearfix();
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

.container {
  width: 498px;
  background-color: white;
}

.story-text {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  font-weight: lighter;
  line-height: 1.4em;
}

.btn {
  display: inline-block;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
  line-height: (20/14);
}

.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-pledge {
  color: white;
  background-color: $primary-color;
  height: 3rem;
  width: 14rem;
  font-size: 1.3rem;
}

.btn-pledge:active,
.btn-pledge:hover,
.btn-pledge:focus {
  background-color: darken($primary-color, 10%);
}

.btn-pledge:active:hover,
.btn-pledge:active:focus {
  background-color: darken($primary-color, 17%);
}

.btn-started {
  color: white;
  background-color: $secondary-color;
  height: 2rem;
  width: 11rem;
  font-size: 0.9rem
}

.btn-started:active,
.btn-started:hover,
.btn-started:focus {
  background-color: darken($secondary-color, 10%);
}

.btn-started:active:hover,
.btn-started:active:focus {
  background-color: darken($secondary-color, 17%);
}

.text-light {
  color: $gray-dark;
}

.meter,
.bar {
  height: 10px;
  border-radius: 5px;
}

.meter {
  background-color: $gray-light;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bar {
  background-color: $primary-color;
}

.meter-info {
  color: $primary-color;
  font-size: 0.8rem;
  margin-top: 0.1rem;
}

.meter-info-left {
  float: left;
  margin-left: 1.5rem;
  font-weight: lighter;
}

.meter-info-right {
  float: right;
  margin-right: 1.5rem;
  font-weight: lighter;
}

.big {
  font-size: 2em;
  display: block;
}

.pledge-container {
  text-align: center;
  margin-top: 0.5rem;
}

.pledge-msg {
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: $msg-background;
  font-weight: lighter;
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 1.2rem;
  height: 3rem;
  vertical-align: middle;
  line-height: (3 / 1.2);
  border-radius: 3px;
}

.project-owner-container {
  margin-top: 2rem;
}

.pledge-input {
  width: 4rem;
  height: 3rem;
  margin-right: 1rem;
  padding-left: 10px;
  font-size: 1.3rem;
}

.project-owner-container {
  text-align: center;
}

.project-owner-wrapper {
  display: inline-block;
}

.owner-title {
  display: block;
  font-weight: lighter;
  font-size: 1rem;
}

.owner-name {
  float: left;
  margin-top: 0;
  text-align: left;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.avatar {
  border-radius: 50%;
  float: left;
  margin-right: 0.3rem;
}

.footer {
  border-top: 1px solid $gray-light;
  text-align: center;
  padding-bottom: 2.5rem;
  margin-top: 1rem;
}

.footer-text {
  font-weight: lighter;
  font-size: 1.2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  line-height: 1.4em;
}